{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
        <div class="col-md-10 col-xs-10 col-sm-10">
            <h3 class="round3" style="text-align:center;">CRUD CIUDADES</h3>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-md-10 col-xs-10 col-sm-10"></div>
        <div class="col-md-2 col-xs-1 col-sm-1">
            <br>
            <a href="{% url 'create' %}">
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </a>
        </div>
        <br>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ciudad</th>
                    <th>Provincia</th>
                    <th>País</th>
                    <th>Detalle</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for ciudad in ciudad_list %}
                <tr>
                    <td>
                        <a href="{% url 'detail' ciudad.pk %}">{{ ciudad.nombreCiudad }}</a>
                    </td>
                    <td>
                        <a href="{% url 'detail' ciudad.pk %}">{{ ciudad.fk_Provincia }}</a>
                    </td>
                    <td>
                        <a href="{% url 'detail' ciudad.pk %}">{{ ciudad.fk_Pais }}</a>
                    </td>
                    <td>
                        <a href="{% url 'detail' ciudad.pk %}">
                            <button type="button" class="btn btn-info">
                                <span class="glyphicon glyphicon-open"></span>
                            </button>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'edit' ciudad.pk %}">
                            <button type="button" class="btn btn-info">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'delete' ciudad.pk %}">
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
